<html>
    <body>
    <form action="/addFlightAuth" method="POST">
        <th> NEW FLIGHT </th> </br>
        <th> departure date</th>
        <input type="date" name="deptdate" placeholder="Departure Date" required/> </br>
        <th> departure time</th>
        <input type="time" name="depttime" placeholder="Departure Time" required/> </br>
        <th> flight number</th>
        <input type="char(10) " name = "flightnum" placeholder="Flight Number" required/> </br>
        <th> arrival time</th>
        <input type="time" name = "arrtime" placeholder="Arrival Time" required/></br>
        <th> arrival airport</th>
        <select name="arrairport">
            {% for line in airport %}
            <option value={{line['name_airport']}}> {{line['name_airport']}}</option>
            {% endfor %}
        </select> </br>
        <th> arrival date</th>
        <input type="date" name = "arrdate" placeholder="Arrival Date" required/> </br>
        <th> base price </th>
        <input type="decimal(8,2)" name = "baseprice" placeholder="Base Price" required/> </br>
        <th> Airplane ID </th>
        <select name="idairplane">
            {% for line in airplane %}
            <option value={{line['id_airplane']}}> {{line['id_airplane']}}</option>
            {% endfor %}
        </select> </br>
        <th> Departure Airport </th>
        <select name="deptairport">
            {% for line in airport %}
            <option value={{line['name_airport']}}> {{line['name_airport']}}</option>
            {% endfor %}
        </select> </br>
        <th> stats</th>
        <select name="states" required>
            <option value="On Time">On Time</option>
            <option value="Delayed">Delayed</option>
            <option value="Cancelled">Cancelled</option>
        </select></br>
        <input type="submit" value = Submit>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </body>
    </form>
    <body>
        <a href="/staff/home"> Go Back</a>
    </body>
</html>