<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart</title>
    
    

</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<canvas id="myChart" width="800" height="400"></canvas>
    <script>
        var ctx = document.getElementById("myChart").getContext("2d");
        new Chart(ctx, {
            type: "bar",
            data: {
                labels: {{labels| safe}},
                
                datasets: [
                {
                    label: "Money Spent",
                    data: {{values| safe}},
                    fill: false,
                    borderColor: "rgb(0,0,0)",
                    lineTension: 0.2,
                    backgroundColor: "rgb(255,0,0)",
                    
                    
                }
            ]
            },
            options:{
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true,
                    }
                }
                
            }
        });

    </script>
    
   

</body>
<body>
    <form action = "/customer/spending/search"method="POST">
        <h1> Filter Months/Year</h1>
        <th>From Start date</th>
        <select name="startMonth" required>
            <option value="1">Jan</option>
            <option value="2">Feb</option>
            <option value="3">Mar</option>
            <option value="4">Apr</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">Aug</option>
            <option value="9">Sept</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option value="12">Dec</option>
          </select>
          <select name="startYear" required>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
          </select>
        
        <th>To End date</th>
        <select name="endMonth" required>
            <option value="01">Jan</option>
            <option value="02">Feb</option>
            <option value="03">Mar</option>
            <option value="04">Apr</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">Aug</option>
            <option value="09">Sept</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option value="12">Dec</option>
          </select>
          <select name="endYear" required>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
          </select>
        
        <div class = "search"> 
            <button class = btn> Search </button> </a>  
        </div>    
    </form> 
</body>
<body>
    <table>
        <th>Month/Year</th>
        <th>Total</th>
    {% for line in total %}
        <tr>
            <td>{{line['m']}}/{{line['y']}}</td>
            
            <td>{{line['total']}}</td> 
        
    
        </tr>
    {% endfor %}
    </table>
    <a href="/customer/home"> Go Back</a>
</body>
</html>
