
<!DOCTYPE html>
<html>
  
<h2> Search For a Flight Here </h2> 
<body>	 

<form action = "/searchFlights"method="POST">
	<th>departure city/airport  </th>
        <input type="text" name="deptairport" placeholder="departure city or airport"required/> </br>
        <th>destination city/airport</th>
        <input type="text" name="arrairport" placeholder="arrival city or airport" required/> </br>
        <th>depature date</th>
        <input type="date" name="deptdate" placeholder="YYYY-MM-DD" required/> </br>
        <div class = "search"> 
            <button class = btn> Search </button> </a>  
        </div>     
</form> 
<table>
	<th>Departure Airport</th>
	<th>Destination City</th>
	<th>Departure Date</th>
	<th>Return Date</th>
	<th>Flight Status</th>
{% for line in flight %}
	<tr>
		<td>{{line['dept_airport']}}</td>
		<td>{{line['arr_airport']}}</td> 
		<td>{{line['dept_date']}}</td>
		<td>{{line['arr_date']}}</td>
		<td>{{line['stats']}}</td>
		

	</tr>
{% endfor %}
</table>
</body>
<body>
	<a href="/"> Go Back</a>
</body>
<!DOCTYPE html> 


