<html>
  <h1>Welcome {{data1[0]['first_name']}}</h1>
  <body>
    <a href="/staff/viewflights">View Flights</a>
    <h1></h1>
    <a href="/addFlight">Add Flight</a>
    <h1></h1>
    <a href="/changeStatus">Change Flight Status</a>
    <h1></h1>
    <a href="/staff/reports"> View Reports</a>
    <h1></h1>
    <a href="/viewAirplane">View Airplanes</a>
    <h1></h1>
    <a href="/addAirport">Add Airport</a>
    <h1></h1>
    <a href="/staff/view/customers"> View Frequent Customers</a>
    <h1></h1>
    <a href="/viewPreviousFlightsAuth"> Previous Flight Ratings and Comments</a>
    <h1></h1>
    <a href="/staff/viewRevenue"> View Revenue</a>
    <h1></h1>
    <a href="/logout/staff">Logout</a>
  </body>
</html>
