<html>
<head>
	<h1>Customer Login</h1>
</head>
<body>
<form action="/loginAuth" method="POST">
	<input type="text" name = "email" placeholder="email" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
	<input type="submit" value = Login />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="/">Go back</a> 

<!-- <table>
	<th>Your Email</th>
	<th>Your Password</th>
	{% for line in customer %}
	<tr>
		<td>{{line['email']}}</td>
		<td>{{line['pass_w']}}</td> 
	</tr>
	{% endfor %}
</table>  -->

</body>


</html>
