
<html>
<head>
</head>
<body>
<form action="/registerAuth/staff" method="POST">
	<th> AIRLINE STAFF REGISTRATION</th> </br>
	<th> FIRST NAME </th>
    <input type="text" name="fname" placeholder="fname" required/> </br>
    <th> LAST NAME </th>
	<input type="text" name="lname" placeholder="lname" required/> </br>
	<th> Phone Number</th>
	<input type="text" name="phoneNum" placeholder="phoneNum," required/> </br>
	<th> USERNAME</th>
	<input type="text" name="username" placeholder="username," required/> </br>
    <th> Email</th>
	<input type="text" name = "email" placeholder="email" required/> </br>
	<th> Password</th>
    <input type="password" name = "password" placeholder="password" required/></br>
	<th> AIRLINE </th>
	<select name="airline" required>
		{% for line in airline %}
		<option value={{line['airline_name']}}> {{line['airline_name']}}</option>
		{% endfor %}
	</select> </br>

    
	<th> Date of Birth</th>
	<input type="date" name = "dob" placeholder="dob" required/> </br>

	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/">Go back</a>
</body>
</html>
