
<html>
<head>
</head>
<body>
<form action="/registerAuth/staff" method="POST">
	<th> AIRLINE STAFF REGISTRATION</th> </br>
	<th> FIRST NAME </th>
    <input type="text" name="fname" placeholder="fname" required/> </br>
    <th> LAST NAME </th>
	<input type="text" name="lname" placeholder="lname" required/> </br>
	<th> Phone Number</th>
	<input type="text" name="phoneNum" placeholder="phoneNum," required/> </br>
	<th> USERNAME</th>
	<input type="text" name="username" placeholder="username," required/> </br>
    <th> Email</th>
	<input type="text" name = "email" placeholder="email" required/> </br>
	<th> Password</th>
    <input type="password" name = "password" placeholder="password" required/></br>
    <th> AIRLINE </th>

    <select name="airline" id="airline" required>
      <option value="Delta">Delta</option>
      <option value="JetBlue">JetBlue</option>
      <option value="Spirit">Spirit</option>
      <option value="Qatar Airways">Qatar Airways</option>
    </select></br>
	<th> Date of Birth</th>
	<input type="date" name = "dob" placeholder="dob" required/> </br>

	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/">Go back</a>
</body>
</html>
